@model ApplicationsManagementSystem.Models.SpecialitiesListModel
@using ApplicationsManagementSystem.Models;
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(function () {
        $(".sortable").sortable({
            start: function (event, ui) {
                start = ui.item.prevAll().length;
            },
            update: function (event, ui) {
                //ui.item[0].id
                //alert("Start position: " + start + " EndPosition: " + ui.item.prevAll().length + " GroupID: " + event.target.id);
                var EndPosition = ui.item.prevAll().length;
                $.ajax({
                    url: "/Home/ChangePriority",
                    data: { "ApplicationID": @Model.Application.ApplicationID, "StartPosition": start, "EndPosition": EndPosition, "GroupID": event.target.id },
                    error: errorFunc
                });
            }
        });
        $(".sortable").disableSelection();
    });
    function errorFunc(errorData) {
        alert('Ошибка' + errorData.responseText);

    }
</script>
<style>
    .main-group-item {
        background-color: #DFF0D8;
    }
    .regular-group-item {
        background-color: #D9EDF7;
    }
</style>
<div class="col-lg-5">
    <p>
        <h4> Выбранные вами специльности </h4>
    </p>
    @foreach (IGrouping<int, SpecialityApplication> groupedSpecialities in Model.GroupedChosenSpecialities)
    {
        <ul id=@groupedSpecialities.Key class="sortable list-group">
            @foreach (SpecialityApplication gs in groupedSpecialities)
            {
                <li id=@gs.Priority class="@("list-group-item list-group-item-action "+((groupedSpecialities.Key==Model.Group.GroupID) ? "main-group-item" :"regular-group-item"))" style="margin: 10px">
                    <div style="margin: 0px 0px 0px 20px">
                        <div class="row">
                            <h4>@gs.GroupedSpeciality.Speciality.Title</h4>
                        </div>
                        <div class="row">
                            @(gs.GroupedSpeciality.PaymentType.Description + " " + gs.GroupedSpeciality.DurationType.Description + " " + gs.GroupedSpeciality.StudyFormType.Description + " (gr." + gs.GroupedSpeciality.GroupID + ")")
                        </div>
                    </div>
         
                </li>
            }
        </ul>
        <br/>

    }
    
    
</div>
<div class="col-lg-5">
    @using (Html.BeginForm())
    {

        <button class="btn btn-success">
            Apply
        </button>
    }
    <p>
        <h4>
            Вы можете выбрать специльность из этого списка
        </h4>
    </p>
    <table class="table table-striped table-bordered">
        <tr>
            <td>
                
            </td>
            <td>
                <b>Наименование специльности</b>
            </td>
        </tr>
        @for(int i = 0; i<Model.Specialities.Count; i++)
        {
            <tr>
                <td>
                    <input type="button" class="btn btn-success" value="+" onclick="location.href='@Url.Action("AddSpeciality", "Home",new { ApplicationID = Model.Application.ApplicationID, SpecialityID = Model.Specialities[i].SpecialityID, GroupID = Model.Group?.GroupID })'" />
                </td>
                <td>
                    @Model.Specialities[i].Title
                </td>
            </tr>
        }
    </table>
</div>


