@model ApplicationsManagementSystem.Models.UserPageModel
@using ApplicationsManagementSystem.Models;
@{
    ViewBag.Title = "UserMenu";
}
<h3>
    <b>
        Welcome! @(Model.User.Name+" "+Model.User.Surname+" "+Model.User.Patronumic)
    </b>
</h3>
@if (Model.UserApplications.Any())
{
    <b> Поданные вами заявления: </b>
    <br />
    int i = 1;
    foreach (Application app in Model.UserApplications)
    {
        if (app.Submitted == 1)
        {
            <b>@i. @Html.ActionLink("Заявление  (" + app.PaymentType.Description + ")", "Application", new { ApplicationID = app.ApplicationID }) </b>
        }
        else
        {
            <b>@i. @Html.ActionLink("Заявление  (" + app.PaymentType.Description + ") - продолжить редактирование", "SpecialitiesList", new { ApplicationID = app.ApplicationID,GroupID = app.ApplicationSettings.First().ApplicationGroupID }) </b>
        }
        <br />

    }
}
<br />
@if (Model.AvailableApplicationTypes.Count > 0)
{
    <b> Вы можете подать заявление на следующие формы обучения: </b>
    for (int i = 0; i < Model.AvailableApplicationTypes.Count; i++)
    {
        <br />

        <b>
            @(i + 1). @Html.ActionLink("Заявление (" + Model.AvailableApplicationTypes[i].Description + ")", "NewSpecialitiesList", new { PaymentTypeID = Model.AvailableApplicationTypes[i].PaymentTypeID, UserID = Model.User.UserID })
        </b>
    }
}
else
{
    <b>
        Вы подали все возможные типы заявлений
    </b>
}




<input type="text" size="4" onKeyPress="KeyPressed(event,this)">
<script>
    function KeyPressed(event, input) {
        input_size = input.value.length;
        console.log(input_size)
        if (input_size <= 1) {
            return false;

        }
       
        console.log("Event key code: " + event.keyCode + ", " + String.fromCharCode(event.keyCode));
        return false; 
        //alert(event.keyCode);

    }
</script>