@model IEnumerable<EntrantsManagementSystem.Models.UpdateLog>
@using EntrantsManagementSystem.Models
@{
    ViewBag.Title = "UpdateLogsList";
}

<h2>Update Logs</h2>
<table class="table table-bordered table-dark">
    <tr>
        <td>
            <b>Log ID</b>
        </td>
        <td>
            <b>Time</b>
        </td>
        <td>
            <b>Operation</b>
        </td>
        <td>
            <b>Object</b>
        </td>
        <td>
            <b>Property name</b>
        </td>
    </tr>
    @foreach (UpdateLog updateLog in Model)
    {
        <tr>
            <td>
                @updateLog.Log.LogID
            </td>
            <td>
                @updateLog.Log.StartTime
            </td>
            <td>
                @updateLog.Log.Operation
            </td>
            <td>
                @updateLog.Object
            </td>
            <td>
                @updateLog.PropertyName
            </td>
        </tr>
    }
</table>

