@model EntrantsManagementSystem.Models.Entrant
@using EntrantsManagementSystem.Models
@{
    ViewBag.Title = "Details";
}

<h3>Details of @Model.Name @Model.Surname </h3>

<div>
    <h4></h4>
    <hr />
    
    <div class="row">
        <div class=col-sm-6>
            <dl class="dl-horizontal">
                <dt>
                    Name
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    Surname
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Surname)
                </dd>

                <dt>
                    Patronumic
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Patronumic)
                </dd>

                <dt>
                    Country
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.City.Country.Title)
                </dd>
                <dt>
                    City
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.City.Title)
                </dd>
                <dt>
                    Address:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Street) @Html.DisplayFor(model => model.House), @Html.DisplayFor(model => model.Entrance) / @Html.DisplayFor(model => model.Flat)
                </dd>
            </dl>
            <br />
        </div>
        <div class="col-sm-6">
            <h4> Entrant's sertificate marks</h4>

            <table class="table table-condensed">
                <tr>
                    <td>
                        <b> Subject</b>
                    </td>
                    <td>
                        <b> Mark</b>
                    </td>
                </tr>
                @foreach (CertificateMark mark in Model.CertificateMarks)
                {
                    <tr>
                        <td>
                            @mark.Subject.Title
                        </td>
                        <td>
                            @mark.Mark
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    
</div>
<p>
    @Html.ActionLink(" Edit ", "Edit", new { id = Model.EntrantID }) |
    @Html.ActionLink(" Back to List ", "List")|
    @Html.ActionLink(" Delete ","DeletionConfirmation", new { id = Model.EntrantID })
</p>
