@model EntrantsManagementSystem.Models.City
@{
    ViewBag.Title = "CitySettings";
}

<h2>City: @Model.Name</h2>
<p>
    Here you can either edit city name or delete it
</p>
@using (Html.BeginForm())
{
    @Html.TextBoxFor(model => model.Name)
    @Html.HiddenFor(model=>model.CityID)
    @Html.HiddenFor(model=>model.CountryID)
    <button type="submit" class="btn-success">
        Save
    </button>
    <br/>
    <button style="margin: 5px;">
        @Html.ActionLink("Return to the country", "CountrySettings", new { id = Model.CountryID })
    </button>
    <button style="margin-top: 5px;">
        @Html.ActionLink("Delete this city", "DeleteCity", new { id = Model.CityID })
    </button>
 
   
}


