@model EntrantsManagementSystem.Models.Mark
@{
    ViewBag.Title = "ChangeMaek";
}

<h3>You are going to change @Model.Entrant.Name @Model.Entrant.Surname's mark on @Model.Subject.Name</h3>

@using (Html.BeginForm())
{
  
   @Html.EditorFor(model => model.Score, new{ htmlAttributes = new { @class = "form-control" } })
    @Html.HiddenFor(model => model.EntrantID)
    @Html.HiddenFor(model => model.SubjectID)
    @Html.HiddenFor(model => model.MarkID)
    
    <button type="submit" style="margin: 4px;" class="btn btn-success">
        Save
    </button>
    <br />
    <button style="margin: 5px;">
        @Html.ActionLink("Return to details", "Details", new { id=Model.EntrantID })
    </button>


}
